[submodule "AuroraEngine/vendor/glfw"]
	path = AuroraEngine/vendor/glfw
	url = https://github.com/duncanbauer/glfw.git
[submodule "AuroraCoreLib/vendor/spdlog"]
	path = AuroraCoreLib/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
