[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AuroraEngine/vendor/glfw"]
	path = AuroraEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "AuroraEngineLib/vendor/glfw"]
	path = AuroraEngineLib/vendor/glfw
	url = https://github.com/glfw/glfw.git
