[submodule "AuroraEngineLib/vendor/glfw"]
	path = AuroraEngineLib/vendor/glfw
	url = https://github.com/duncanbauer/glfw.git
[submodule "AuroraEngineLib/vendor/imgui"]
	path = AuroraEngineLib/vendor/imgui
	url = https://github.com/duncanbauer/imgui
[submodule "AuroraEngineLib/vendor/glm"]
	path = AuroraEngineLib/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "AuroraEngineLib/vendor/spdlog"]
	path = AuroraEngineLib/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AuroraEngineLib/vendor/yaml-cpp"]
	path = AuroraEngineLib/vendor/yaml-cpp
	url = https://github.com/duncanbauer/yaml-cpp
